{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 style="margin-top:250px;">Page not found</h1>
        <p style="margin-bottom:150px;">
            The requested page couldn't be located. Checkout for any URL
            misspelling or <a href="{{ path('app_homepage') }}">return to the homepage</a>.
        </p>
    </div>
{% endblock %}
