{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h1 style="margin-top:250px;">Something went wrong ;(</h1>
        <p style="margin-bottom:150px;">
            <a href="{{ path('app_homepage') }}">Return to the homepage</a>
        </p>
    </div>
{% endblock %}
